/*general body styling*/
body {
    background-color: #000000;
}

h1 {
    text-align: center;
    color: #ffffff;
    padding: 1em 0;
}

h2 {
    color: #ffffff;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/*styling of album tiles, these are generated in JS*/
main a {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

main a img {
    width: 100%;
}

a h2 {
    visibility: hidden;
    transition: visibility, background-color 0.5s;
    position: absolute;
}

h1 a {
    text-decoration: none;
}

h1 a:visited {
    color: #ffffff;
    text-decoration: none;
}

/*create a nice on hover effect*/
a:hover > h2 {
    visibility: visible;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0!important;
    padding-top: 50%;
    transition: visibility, background-color 0.5s;

}

/*detail page styling*/
main article {
    grid-column: 2 / span 3;
    color: #ffffff;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 40vh 40vh;
    grid-row-gap: 3em;
    grid-column-gap: 3em;
    width: 80vw;
}
.back {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: end;
    margin-right: 2em;

    /*fancy back arrow*/
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
}

article h2,
article p:first-of-type {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: start;
    align-self: start;
}

article ul {
    grid-column-start: 3;
}

article p:first-of-type {
    margin-top: 5em;
}

article img {
    grid-column-start: 1;
    grid-row-start: 1;
    height: 15em;
}

article p:last-of-type {
    grid-column: 1 / span 2;
}

/*add a responsive layout for mobile devices*/
@media (max-width: 400px) {
    main {
        grid-template-columns: 1fr 1fr;
        width: 100vw;

        overflow-X: hidden;
    }

    main article {
        grid-column: 1 / 3;
        grid-template-columns: 1fr;
        grid-template-rows: 7em 2em 15em 20em 1fr;
        grid-gap: 0;
        justify-items: center;
        width: 90vw;
    }

    main article h2 {
        grid-column-start: 1;
        grid-row-start: 1;
        width: 90%;
        text-align: center;

        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    article p:first-of-type {
        grid-column-start: 1;
        grid-row-start: 2;
        margin-top: 0;
        text-align: center;
        width: 100%;
    }

    main article img {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    main article ul {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    main article p {
        grid-row-start: 5;
        text-align: center;
        width: 90vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}